# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://murf-ai-10-days-z7kfcuro.livekit.cloud
LIVEKIT_API_KEY=APIrbSHMTdjVp8d
LIVEKIT_API_SECRET=RfEcr04FnnBzNYWv5pZ2P7Vdy0GowahVjaK2GQIJPQU


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
