LIVEKIT_URL=wss://murf-ai-10-days-z7kfcuro.livekit.cloud
LIVEKIT_API_KEY=APIrbSHMTdjVp8d
LIVEKIT_API_SECRET=RfEcr04FnnBzNYWv5pZ2P7Vdy0GowahVjaK2GQIJPQU
GOOGLE_API_KEY=AIzaSyBmxyW8KFPM1YnnmwIVaM6quGY4yIgGPp8
MURF_API_KEY=ap2_5fe6ef75-1fc7-4deb-9707-1f168c8bc655
DEEPGRAM_API_KEY=623aad71908810c3c62d84b81d67d0c3317a0cc0